@import url('https://fonts.googleapis.com/css2?family=Albert+Sans&display=swap');

body {
  margin: 0;
  font-family: 'Albert Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  color: #d2e823;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.heading {
  -webkit-text-stroke-width: 2px;
}

.button {
  background-color: black;
  color: white;
  padding-inline: 5px;
  padding-block: 2px;
}

.button:hover{
  background-color: transparent;
  border: 2px solid black;
  color: black;
}